@{
    Layout = null;
}

@model First_MVC_form.Models.Fruits

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from the view)
        <a asp-action="Index2">Push Page 2</a>
    </div>
</body>
</html>